@model LancheListViewModel


@*<div>
    <h1>@ViewData["Titulo"]</h1>
    <h5>@ViewData["Data"]</h5>
</div>
<hr />
<h5>@ViewBag.Total @ViewBag.totalLanches</h5>
<hr />*@

<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="Container">
    <div class="row">
        @foreach (var lanche in Model.Lanches)
        {
           <partial name="_LanchesResumoPartial" for="@lanche" />
        }
    </div>
</div>