@model IEnumerable<SalesWebCafeteria.Models.Lanche>


<div>
    <h1>@ViewData["Titulo"]</h1>
    <h5>@ViewData["Data"]</h5>
</div>
<hr />
<h5>@ViewBag.Total @ViewBag.totalLanches</h5>
<hr />

@foreach (var lanche in Model)
{
    <div>
        <h4>@lanche.Nome</h4>
        <p><img src="@lanche.ImagemUrl"></p>
        <h3>Preço : @lanche.Preco.ToString("c")</h3>
    </div>
}