@model IEnumerable<SalesWebCafeteria.Models.Lanche>


<div>
    <h1>@ViewData["Titulo"]</h1>
    <h5>@ViewData["Data"]</h5>
</div>
<hr />
<h5>@ViewBag.Total @ViewBag.totalLanches</h5>
<hr />
<div class="Container">
    <div class="row">
        @foreach (var lanche in Model)
        {
            <div class="col-sm-4 col-md-4 col-lg-4">
                <h4>@lanche.Nome</h4>
                <p><img src="@lanche.ImagemUrl" class="img-fluid"></p>
                <h3>Valor: R$@lanche.Preco.ToString("F2", CultureInfo.InvariantCulture)</h3>
                <p>@lanche.DescricaoCurta</p>
            </div>
        }
    </div>
</div>